<div style="font-family: Calibri;">
<p style="text-align: center;">
	<span style="font-size: bold; font-size: 14px;">%working_program_title%
		%selected_date%</span>
</p>
<center>
	<table border="1" cellspacing="0"
		style="border-width: 1px; border-collapse: collapse; border-style: solid; border-color: black; text-align: center; font-size: smaller;">
		<tbody>
			<tr style="font-weight: bold; border-color: #000;">
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_time%</td>
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_patient%</td>
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_birth_date%</td>
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_sector%</td>
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_state%</td>
				<td style="padding: 2px 5px; border: 1px solid #000; text-align: center; font-size: 11px;">%working_program_exams%</td>
			</tr>
			%patients%
		</tbody>
	</table>
</center>
<br />
<br />
<br />
<p style="text-align: right;">
	<span style="font-size: 14px;">%working_program_print_date%: %current_date%</span>
</p>
</div>
